<!DOCTYPE html>
<html>
<head>
	<title>Branch Select</title>
	<link rel="stylesheet" type="text/css" href="/teacherBranchSelect.css">
	<link href="/nav_bar.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="myApp" ng-controller="myCtrl" >
	<nav>
		<ul>
            <li><a href="/changePassword">Change Password</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</nav>
	<h1>Select Branch</h1>
	<div id="attendance-stats">
		<p>Welcome <%= fullName %> !</p>
	</div>
    <br>
    <form ng-submit="submitForm()">
        <div class="custom-select">
            <select required ng-model="selectedBranch" ng-options="option.branchFullForm + ' - Sem ' + option.semesterNumber for option in branchInfo"></select>
        </div>
        <br><br>
        <button type="submit" class="button" ng-disabled="!selectedBranch" ng-class="{'disabled-button': !selectedBranch,'enabled-button': selectedBranch}" >Submit</button> 
    </form>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script src="teacherBranchSelect.js"></script>
</body>
</html>

