body {
  font-family: "Rubik", sans-serif;
  font-size: larger;
  background: linear-gradient(90deg, #d3cce3, #e9e4f0) no-repeat;
  background-attachment: fixed;
}

h1 {
  margin-top: 40px;
  text-align: center;
}
#attendance-stats {
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}
table,
td,
tr,
th {
  border: 2px solid black;
  border-collapse: collapse;
}
td,
th {
  padding: 15px;
}
tr:not(:hover) {
  background-color: #ff7426;
}
tr:hover {
  color: white;
  background-color: #660101;
}
th {
  color: white;
  background-color: darkred;
}
.checkbox:hover .check {
  stroke-dashoffset: 0;
}
.checkbox {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}
.checkbox .background {
  fill: rgb(255, 0, 0);
  -webkit-transition: ease all 0.6s;
  transition: ease all 0.6s;
}
.checkbox .stroke {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  -webkit-transition: ease all 0.6s;
  transition: ease all 0.6s;
}
.checkbox .check {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  -webkit-transition: ease all 0.6s;
  transition: ease all 0.6s;
}
.checkbox input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
}
.checkbox input[type="checkbox"]:hover {
  cursor: pointer;
}
.checkbox input[type="checkbox"]:checked + svg .background {
  fill: #6cbe45;
}
.checkbox input[type="checkbox"]:checked + svg .stroke {
  stroke-dashoffset: 0;
}
.checkbox input[type="checkbox"]:checked + svg .check {
  stroke-dashoffset: 0;
}
#attendance-stats {
  background-color: #ff7426;
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 19px 32px;
  }
}

.button:before,
.button:after {
  border-radius: 80px;
}

.button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(255, 116, 38) 0%,
    rgb(349, 58, 19) 100%
  );
}

.button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button:active:not(:disabled) {
  color: #ccc;
}

.button:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button:disabled {
  cursor: default;
  opacity: 0.24;
}
