.enabled-button {
  background-color: rgb(218, 168, 168);
  /* opacity: 1; */
  cursor: allowed;
}

.disabled-button {
  background-color: aqua;
  /* opacity: 1; */
  cursor: not-allowed;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: larger;
  background: linear-gradient(90deg, #d3cce3, #e9e4f0) no-repeat;
  background-attachment: fixed;
}

h1 {
  margin-top: 40px;
  text-align: center;
}
#attendance-stats {
  margin-top: 20px;
  text-align: center;
}
table,
td,
tr,
th {
  border: 2px solid black;
  border-collapse: collapse;
}
td,
th {
  padding: 15px;
}

.red {
  background-color: red;
}

.button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 19px 32px;
  }
}

.button:before,
.button:after {
  border-radius: 80px;
}

.button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(255, 116, 38) 0%,
    rgb(349, 58, 19) 100%
  );
}

.button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button:active:not(:disabled) {
  color: #ccc;
}

.button:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button:disabled {
  cursor: default;
  opacity: 0.24;
}

select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  padding: 15px 45px 15px 15px;
  background: #4d5061;
  color: white;
  border: 0;
}

.custom-select {
  position: relative;
}

.arrow {
  position: absolute;
  top: 0;
  right: 525px;
  display: block;
  background: #3b3c47;
  height: 100%;
  width: 3rem;
  pointer-events: none;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow::before {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid rgba(255, 255, 255, 0.5);
  top: 35%;
}

.arrow::after {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid rgba(255, 255, 255, 0.5);
  top: 65%;
}
