* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: linear-gradient(90deg, #d3cce3, #e9e4f0) no-repeat;
  background-attachment: fixed;
  font-family: "Rubik", sans-serif;
}

